*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}
.navbar{
display: flex;
flex-direction: row;
background-color: black;
padding: 0 50px;
}

a{
  text-decoration: none;
  color: white;
}
.navbar img{
width: 150px;
height: 150px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 100%;
  height: 15%;
  background-color: black;
  align-items: center;
  padding: 50px;

 /*  display: inline-block; */}

ul{
  display: flex;
  margin: 0px 15px;
}
li{
  display: flex;
  list-style: none;
  margin: 0px 5px;
}
a{
  text-decoration: none;
  color: white;
}
img{
  width: 75px;
  height: 75px;
}
iframe{
  width: 250px;
  height: 150px;
}
.carousel-item img{

width: 1000px;
height: 800px;
object-fit: cover;
}
.card img {

height: 300px;
object-fit: cover;

}
.card-gal{
  
  &:hover{
    filter: drop-shadow(20px 20px 20px black);
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
img {
height: 300px;
object-fit: cover;
border-radius: 5px;
}
}
.boton a{

background-color: rgb(134, 0, 0);
border-color: white;
color: white;

}
.boton a:hover{

background-color: white;
border-color: rgb(134, 0, 0) ;
color: rgb(134, 0, 0);
filter: drop-shadow(2px 2px 2px);
transition: 0.3s ease-in-out;

}
#carouselExampleIndicators{
max-width: 1200px; 
max-height: 600px; 
margin: 0 auto; 
margin-top: 20px;
margin-bottom: 20px;
border-radius: 20px; 
border: 3px solid #000000; 
overflow:hidden;

box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}
.main{

background-image: url(../imagenes/fondo.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border: 3px solid #fafafa10;
border-radius: 25px;

}
.titulo {

width: 50rem;
height: 7rem;
border: 3px solid #fafafa10;
border-radius: 1rem;
background: #fafafa10;
backdrop-filter: blur(0.4rem);
-webkit-backdrop-filter: blur(0.4rem);
color: white;

}
.contenedor{
background-image: url(../imagenes/fondo2.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border: 3px solid #fafafa10;
border-radius: 25px;

}
.cuerpo{

background-color: black;
}
.registro{
color: white;
margin-top: -9px;
}
.registro:hover{
color: white;
}
.nav-link{

  color: white;
}
.nav-link:hover{
  color: rgb(134, 0, 0);

}
.boton button{
  background-color: rgb(134, 0, 0);
  border-color: white;
  color: white;
  width: 100%;
}
.boton button:hover{
background-color: white;
border-color: rgb(134, 0, 0) ;
color: rgb(134, 0, 0);
filter: drop-shadow(2px 2px 2px);
transition: 0.3s ease-in-out;
}
.modal-title{
  color: black;
}
.glass{
  width: 30rem;
  height: 45rem;
  border: 3px solid #fafafa10;
  border-radius: 1rem;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  color: white;
}

.glass h5{
  color: white;

}
.form-text{
  color: white;
}
.cerrar{
  background-color: white;
}


.contenedor404{

  width: 80rem;
  height: 50rem;
  border: 3px solid #fafafa10;
  border-radius: 1rem;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  color: white;

}
.main404{

  display: flex;
  justify-content: center;
  background: url(../imagenes/fondo404.png);
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
border: 3px solid #fafafa10;
border-radius: 25px;

}
.mensaje h1{
 font-size: 100px;

 
}

.triangulo img{
  width: 450px;
  height: 100px;


}
.h3 h3{
  font-size: 40px;
}
.boton404 a{
  background-color: rgb(134, 0, 0);
border-color: white;
color: white;
height: 4rem;
display: flex;
align-items: center;

}
.boton404 a:hover{
  background-color: white;
border-color: rgb(134, 0, 0) ;
color: rgb(134, 0, 0);
filter: drop-shadow(2px 2px 2px);
transition: 0.3s ease-in-out;
height: 4rem;
 }
 .logof img{

  width: 200px;
  height: 200px;
 }
 .publicidad{

  width: 100%;
  height: 300px;
  border: 3px solid #fafafa10;
border-radius: 25px;

  
  

  
 }
 .publicidad img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #fafafa10;
border-radius: 25px;
 }
 
 .glass2{
  width: 30rem;
  height: 27rem;
  border: 3px solid #fafafa10;
  border-radius: 1rem;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  color: white;
}

.glass2 h1{
  color: white;
}
.face{
  width: 47px;
  height: 47px;
  margin-top: 14px;
  margin-right: 15px;
}
.audi {
img{
  width: 100%;
  height: 40%;
}
  p{
    color: white;
    font-weight:600 ;
    font-style: italic;
    font-size: 500%;
  }
}
.texto-audi p{
  color: white;
}
.mainp{
border: 3px solid #fafafa10;
border-radius: 25px;
background-color: #fafafa10;

}
.mainp img{
  padding: 20px;
  border-radius: 50px;
}
.sn {
p{
  color: white;
}
img{
  width: 100%;
  height: 50%;
}
}
.titl{
  color: white;
 h3{
  font-weight: 900;
 
}
p{
  margin-bottom: 20px;
}

}